.pink_pallet{
    width: 30px;
    height: 30px;
    background-color: pink;
    border-radius: 50%;
    margin: 0rem 1rem;
    cursor: pointer;
    border: 1px solid black;
}
.green_pallet{
    width: 30px;
    height: 30px;
    background-color: rgb(20, 107, 27);
    border-radius: 50%;
    margin: 0rem 1rem;
    cursor: pointer;
    border: 1px solid black;
}
.yellow_pallet{
    width: 30px;
    height: 30px;
    background-color: rgb(247, 223, 88);
    border-radius: 50%;
    margin: 0rem 1rem;
    cursor: pointer;
    border: 1px solid black;
}
.white_pallet{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0rem 1rem;
    cursor: pointer;
    border: 1px solid black;
}

